{% block header %}
    {% include 'header.html' %}
{% endblock %}
	<!-- End Navigation -->


	<!-- Left Sidebar -->
	<div class="left main-sidebar">
        {% block sidebar %}
            {% include "sidebar.html" %}
        {% endblock %}



	</div>
	<!-- End Sidebar -->


    <div class="content-page">

		<!-- Start content -->

        {% block content %}
        {% endblock  %}
		<!-- END content -->

    </div>
	<!-- END content-page -->

	<footer class="footer">
		<span class="text-right">
		Copyright <a target="_blank" href="#">Yarn Management System</a>
		</span>
		<span class="float-right">
		Powered by <a target="_blank" href="#"><b>Comsats </b></a>
		</span>
	</footer>

</div>
<!-- END main -->
{% block footer %}
    {% include 'footer.html' %}
{% endblock  %}
<script>
    $('.submenu').find('a:first').click(function () {
        dropdown=$(this).next();
        $(dropdown).css("display", "block");
        console.log();
        $(dropdown).find('ul.list-unstyled').css("display", "block");

    });
    $(document).ready(function () {
        $('#id_head').change(function () {
            csrf=$('input[name="csrfmiddlewaretoken"]').val()
            $.ajax({
                url:"{% url 'loadsubhead'  %}",
                data: {
                  'id': this.value,
                    'csrfmiddlewaretoken':csrf
                },
                method:'POST'
            }).done(function (data) {
                sub=JSON.parse(data.subheads);
                $('#id_subhead')
                    .find('option')
                    .remove();
                sub.forEach(function (ele) {
                    option='<option value="'+ele.pk+'">'+ele.fields.name+'</option>';
                    $("#id_subhead").append(option);
                });

            });


        });


    });




</script>
<script type='text/javascript'>
        elment=$(".form-row").length;
        $("#totalElements").val(elment);
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true);

        var total = $(".form-row").length;

        newElement.find(':input').each(function() {
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        total++;

        $(selector).after(newElement);
        disable=newElement.find('input[disabled="disabled"]');

        $(disable).removeAttr('disabled');
        return false;
    }

    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:last', 'form');
        totalElem=$(".form-row").length;
        $("#totalElements").val(totalElem);
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        //alert(1);
        //deleteForm('form', $(this));
        var forms = $('.form-row');
        if(forms.length>1){
            $(this).parent().parent().remove();

            prefix='form';
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {

                    updateElementIndex(this, prefix, i);
                });
            }

        }
        totalElem=$(".form-row").length;
        $("#totalElements").val(totalElem);

        return false;
    });
     $(window).bind("load", function() {
           $("#id_form-1-date").datepicker({format: 'yyyy-mm-dd',});
        });

     function validateEntry() {
         tdebit=0;
         tcredit=0;
         entriesElements=$(".trasactionItem");
         $(entriesElements).each(function (index) {
             totalElem=$(this).find('input[type=number]');
             debitfields=totalElem[0];
             creditfields=totalElem[1];

             $(creditfields).each(function () {
                 if($(this).val()>0){
                     val=parseInt($(this).val());
                    tcredit=tcredit+val;

                 }

             });
             $(debitfields).each(function () {
                 if($(this).val()>0){
                     val=parseInt($(this).val());
                     tdebit=tdebit+val;

                 }

             });



         });
         console.log(tdebit,tcredit);
         if(tdebit==tcredit){
             form=document.getElementById("journalEntry");
             //form.submit();
         }else {
             $('.error').show();
             $('.error').html("Please Enter a Valid Entry");
         }

     }


     {#function disable(ele,field) {#}
     {#    if($(ele).val()>0){#}
     {#        if(field=='d'){#}
     {#        elemet=$(ele).parent().next().find('input');#}
     {#        elemet.attr("disabled","disabled");#}
     {#        }else {#}
     {#            elemet=$(ele).parent().prev().find('input');#}
     {#            elemet.attr("disabled","disabled");#}
     {#        }#}
     {##}
     {#    }#}



     //}
     $(".trasactionItem").each(function () {
        fields=$(this).find("input[type='number']");

         $(fields).each(function () {
           $($(this)).blur(function(){
              if($(this).val()>0){
                  fName=$(this).attr('name');
                  dstring="debit";
                  cstring='credit';
                  console.log(fName.includes(cstring));
                  if(fName.includes(cstring)){
                      elemet=$(this).parent().prev().find('input');
                      elemet.attr("disabled","disabled");
                  }else{
                      elemet=$(this).parent().next().find('input');
                      elemet.attr("disabled","disabled");
                  }

              }
            });
         });
     });
</script>



<!-- END Java Script for this page -->

</body>
</html>