{% extends 'base.html' %}
{% block content %}
		<!-- Start content -->
        <div class="content">

			<div class="container-fluid">

						<div class="row">
									<div class="col-xl-12">
											<div class="breadcrumb-holder">
													<h1 class="main-title float-left">Dashboard</h1>
													<ol class="breadcrumb float-right">
														<li class="breadcrumb-item">Home</li>
														<li class="breadcrumb-item active">Dashboard</li>
													</ol>
													<div class="clearfix"></div>
											</div>
									</div>
						</div>
						<!-- end row -->
                <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
						<div class="card mb-3">
							<div class="card-header">
								<h3><i class="fa fa-square-o"></i> Elementary Heads</h3>

							</div>


							<div class="card-body">

								<div class="card text-center">
								  <div class="card-header">
                                      <ul class="nav nav-tabs card-header-tabs" role="tablist">
                                        <li role="presentation" class="active nav-item">
                                            <a href="#Asset" aria-controls="home" class="active nav-link" role="tab" data-toggle="tab">Asset</a>
                                        </li>
                                        <li role="presentation" class="nav-item">
                                            <a href="#Equity" class="nav-link"  aria-controls="profile" role="tab" data-toggle="tab">Equity</a>
                                        </li>
                                        <li role="presentation" class="nav-item" >
                                            <a href="#Liability" class="nav-link"  aria-controls="messages" role="tab" data-toggle="tab">Liability</a>
                                        </li>
                                        <li role="presentation" class="nav-item">
                                            <a href="#Income" class="nav-link"  aria-controls="settings" role="tab" data-toggle="tab">Revenue</a>
                                        </li>
                                          <li role="presentation" class="nav-item">
                                            <a href="#Expense" class="nav-link"  aria-controls="settings" role="tab" data-toggle="tab">Expense</a>
                                        </li>
                                    </ul>

								  </div>
								  <div class="card-body" >

                                  <div class="card-text">
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active" id="Asset">


                                            <p class="card-text">

                                            <div class="table-responsive">
                                                <table id="asset" class="table table-bordered table-hover display">
                                                    <thead>
                                                        <tr>
                                                            <th>Sub Heads</th>
                                                            <th>Elementary Heads</th>
                                                            <th>Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for ass in assets %}




                                                                <tr>
                                                                    <td>{{ ass.subHead }}</td>


                                                                    <td>{{ ass.elementaryHead }}</td>
                                                                    <td></td>
                                                                </tr>






                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>

                                        </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="Equity">

                                             <p class="card-text">
                                            <div class="table-responsive">
                                                <table id="equity" class="table table-bordered table-hover display">
                                                    <thead>
                                                        <tr>
                                                            <th>Sub Heads</th>
                                                            <th>Elemetary Heads</th>
                                                            <th>Action</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for eq in equity %}


                                                                <tr>

                                                                    <td>{{ eq.subHead }}</td>
                                                                    <td>{{ eq.elementaryHead }}</td>
                                                                    <td></td>
                                                                </tr>




                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                                </div>

                                        </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="Liability">
                                              <p class="card-text">

                                                <div class="table-responsive">
                                                    <table id="liability" class="table table-bordered table-hover display">
                                                        <thead>
                                                            <tr>
                                                                <th>Sub Heads</th>
                                                                <th>Elementary Heads</th>
                                                                <th>Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for lia in liability %}


                                                                    <tr>

                                                                        <td>{{ lia.subHead }}</td>
                                                                        <td>{{ lia.elementaryHead }}</td>
                                                                        <td></td>
                                                                    </tr>



                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </div>

                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="Income">
                                            <p class="card-text">

                                                <div class="table-responsive">
                                                    <table id="income" class="table table-bordered table-hover display">
                                                        <thead>
                                                            <tr>
                                                                <th>Sub Heads</th>
                                                                <th>Elementary Heads</th>
                                                                <th>Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for re in revenue %}


                                                                    <tr>

                                                                        <td>{{ re.subHead }}</td>
                                                                        <td>{{ re.elementaryHead }}</td>
                                                                        <td></td>
                                                                    </tr>



                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </div>

                                            </p>
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="Expense">
                                            <p class="card-text">

                                                <div class="table-responsive">
                                                    <table id="expense" class="table table-bordered table-hover display">
                                                        <thead>
                                                            <tr>
                                                                <th>Sub Heads</th>
                                                                <th>Elementary Heads</th>
                                                                <th>Action</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        {% for ex in expense %}


                                                                    <tr>

                                                                        <td>{{ ex.subHead }}</td>
                                                                        <td>{{ ex.elementaryHead }}</td>
                                                                        <td></td>
                                                                    </tr>



                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                    </div>

                                            </p>

                                        </div>
                                    </div>



								  </div>
								</div>

							</div>
						</div><!-- end card-->
                    </div>




				</div>





            </div>
			<!-- END container-fluid -->

		</div>
		<!-- END content -->

    </div>
	<!-- END content-page -->
{% endblock %}