{% load static %}

<script src="{% static '/js/modernizr.min.js' %}"></script>
<script src="{% static '/js/jquery.min.js' %}"></script>
<script src="{% static '/js/moment.min.js' %}"></script>

<script src="{% static '/js/popper.min.js' %}"></script>
<script src="{% static '/js/bootstrap.min.js' %}"></script>

<script src="{% static '/js/detect.js' %}"></script>
<script src="{% static '/js/fastclick.js'%}"></script>
<script src="{% static '/js/jquery.blockUI.js'%}"></script>
<script src="{% static '/js/jquery.nicescroll.js'%}"></script>

<!-- App js -->
<script src="{% static '/js/pikeadmin.js'%}"></script>

<!-- BEGIN Java Script for this page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>

	<!-- Counter-Up-->
<script src="{% static '/plugins/waypoints/lib/jquery.waypoints.min.js'%}"></script>
<script src="{% static '/plugins/counterup/jquery.counterup.min.js'%}"></script>

