
<div class="sidebar-inner leftscroll">

			<div id="sidebar-menu">

			<ul>

					<li class="submenu">
						<a class="active" href="base.html"><i class="fa fa-fw fa-bars"></i><span> Dashboard </span> </a>
                    </li>

{#					<li class="submenu">#}
{#                        <a href="charts.html"><i class="fa fa-fw fa-area-chart"></i><span> Charts </span> </a>#}
{#                    </li>#}

					<li class="submenu">
                        <a href="#"><i class="fa fa-fw fa-table"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
							<ul class="list-unstyled" style="display: block;">
								<li class="submenu"><a href="#"><span> Heads </span> <span class="menu-arrow"></span></a>
                                    <ul class="list-unstyled" style="display: block;">
                                        <li class="active"><a href="{% url 'heads' %}">View Head</a></li>
                                        <li><a href="{% url 'subhead' %}">View Sub Head</a></li>
                                        <li><a href="{% url 'elementaryhead' %}">View Elmentary Head</a></li>
                                        <li><a href="{% url 'addacounts' %}">Add Accounts</a></li>
                                    </ul>

                                </li>

							</ul>
                    </li>

                     <li class="submenu">
                        <a class="" href="#"><i class="fa fa-calendar-times-o"></i><span>Vouchers</span><span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li class="submenu"><a href="{% url 'journajVoucher' %}"><span>Add Journal Voucher</span> <span class="menu-arrow"></span></span> </a></li>
                            <li class="submenu"><a href="#"><span>View Vouchers</span> <span class="menu-arrow"></span></span> </a></li>
                        </ul>
                    </li>
                    <li class="submenu">
                        <a class="" href="#"><i class="fa fa-calendar-times-o"></i><span>Reports</span><span class="menu-arrow"></span></a>
                        <ul class="list-unstyled">
                            <li class="submenu"><a href="{% url 'trialBalance' %}"><span>Trial Balance</span> <span class="menu-arrow"></span></span> </a></li>
                            
                        </ul>
                    </li>
                    <li class="submenu">
						<a  href="#"><i class="fa fa-fw fa-bars"></i><span> Accounts Balances </span> </a>
                    </li>



            </ul>

            <div class="clearfix"></div>

			</div>

			<div class="clearfix"></div>


		</div>
